Options -MultiViews
Options -Indexes
Options +FollowSymlinks
Options +SymLinksIfOwnerMatch
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

DirectoryIndex index.php

ErrorDocument 404 /portalweb/error/404.html
ErrorDocument 500 /portalweb/error/500.html
