body {
    font-family: Calibri, sans-serif;
    background-color: #2E3268;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 20px; /* Ajouter un espacement au-dessus du titre */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Pour éviter d'interférer avec les éléments cliquables */
}

.bubble {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.2; /* Opacité des bulles */
}

/* Styliser chaque bulle individuellement */
.bubble:nth-child(1) {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}

.bubble:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 200px;
    right: 100px;
}

.bubble:nth-child(3) {
    width: 80px;
    height: 80px;
    top: 400px;
    left: 200px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.box {
    width: 390px; /* Largeur des boîtes */
    height: 300px; /* Hauteur des boîtes */
    display: flex;
    flex-direction: column; /* Ajout pour aligner le texte verticalement */
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px; /* Ajout de coins arrondis */
    padding: 20px;
}

.blue {
    background-color: #6666ff;
}

.rounded-button {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.purple {
    background-color: #8a2be2; 
    color: white;
}

.purple:hover {
    background-color: #787A96; 
}
