<!DOCTYPE html>
<html lang="en">
<head>
    <title>Juxtaposition Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/web/manifest.json">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="Juxtaposition">
    <meta name="application-name" content="Juxtaposition">
    <meta name="msapplication-TileColor" content="#1b1f3b">
    <meta name="theme-color" content="#1b1f3b">

    <meta name="robots" content="index, follow">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
</head>
<body>
<div class="main-body">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="web.css">

    <div class="wrapper">
        <div class="account-form-wrapper">
            <a class="logotype" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="39.876">
                        <text id="Pretendo" transform="translate(593 492)" fill="#fff" font-size="17" font-family="Poppins-Bold, Poppins" font-weight="700">
                            <tspan x="0" y="0">Pretendo</tspan>
                        </text>
                </svg>
            </a>
            <h2><%= code %>: <%= message %></h2>
            <h3>View current server status <a href="https://stats.uptimerobot.com/">here.</a></h3>
        </div>
    </div>
</div>
</body></html>
